html, body { 
	height:100%; 
}
body {
	background:url(../images/bg_header_stripe.png) repeat-x left top;
}
.wrapper{
	width:100%;
	margin:0 auto;
	height:100%;
}
.topStrip{
	background:url(../images/bg_header_stripe.png) repeat-x left top;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:101px;
}
.logoIndex{
	float:left;
	display:block;
	margin:5px 0 0 19px;
	position:absolute;
}
.searchBlock{
	width:48%;
	margin:11px auto;
}
.panelsWrapper { 
	height:100%; 
	overflow:hidden;
}
.mainContentWrapper
{
   width: auto;
   margin: 0;
   padding: 0;
   margin-top:90px;
 overflow:hidden; 
   position:relative;
}

.mainContentWrapper>div{
	height:100%; 
	/*overflow:hidden;*/
	color:#000;
	width:100%
}
 .sidebarWrapper div.tabelsWrapper{
	height:100%; 
	overflow:hidden;
	color:#000; 
}
.panelsWrapper .sidebarWrapper
{      
   float: left;
   background:#fff;
   height: 100%;
   width: 323px;
   margin: 0;
   padding: 0;
   display:none;
   padding-top:88px;
   border-right:1px solid #C6C6C6;
   -moz-box-shadow:0 0.5em 1em #3f3f3b;
  	-webkit-box-shadow:0 0.5em 1em #3f3f3b;
 	box-shadow:0 0.5em 1em #3f3f3b;
}
.sidebarWrapper div.searchPaneHead{
	float:left;
	background:#005569;
	padding:5px 10px;
	*padding-bottom:2px;
	width:304px;
	font-size:11px;
	font-weight:bold;
	color:#3c3c3c;
	height:auto;
	border-top:1px solid #c6c6c6;
	border-bottom:1px solid #c6c6c6;
	
}
.searchPaneHead h3{
	float:left;
	font-weight:bold;
	margin-top:5px;
	color:#fff;
	padding-bottom:5px;
}
.searchPaneHead div {
	float:right;
	width:auto;
	*width:145px;
	height:auto;
	line-height:25px;
	color:#3c3c3c;
}
.searchPaneHead label{
	float:right;
	width:96px;
	*width:99px;
	border:1px solid #979797;
	background:#fff;
	padding:3px;
	margin-left:5px;
}
.searchPaneHead label select{
	float:right;
	width:99px;
	border:0;
}
.searchOptions{
	float:left;
	padding-left:5px;
	width:90%;
}
.searchOptions li{
	float:left;
	margin-left:19px;
	position:relative;
}
.searchOptions li a{
	font-size:11px;
	color:#496cad;
	position:relative;
	z-index:1;
}
.searchOptions li a.active{
	background:url("../images/arrow_top_search.png") no-repeat 14px bottom;
	font-size:11px;
	color:#002465;
	padding-bottom:9px;
	font-weight:bold;
	float:left;
}
.searchWrapper{
	float:left;
	margin-top:-1px;
	width:100%;
}
.searchWrapper a{
	position:absolute;
	margin-left:16px;
	margin-top:8px;
	color:#0f47a6;
	font-size:12px;
	text-decoration:underline;
}
.searchBoxWrapper{
	float:left;
	background:#fff;
	width:75%;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #8fa3c2;
	height:33px;
}
.searchBoxWrapper img{
	float:left;
	margin-top:8px;
	margin-left:8px;
}
.searchWrapper input.searchBox{
	float:left;
	width:84.5%;
	border:0px;
	padding:5px;
	margin-top:2px;
	color:#505050;
	font-size:14px;
	position:absolute;
	z-index:101;
}
.searchWrapper .searchButton{
	background:url("../images/btn_search.png") no-repeat right top;
	float:right;
	width:37px;
	height:35px;
	margin:-1px -3px 0 0;
	cursor:pointer;
	border:0;
}
.topRightNav{
	width:auto;
	overflow:hidden;
	margin-right:10px;
	position:absolute;
	right:0;
	top:30px;
}
.topRightNav li{
	float:left;
	color:#0f47a6;
	font-size:1em;
}
.topRightNav li.userStatus{
	margin:8px 10px 0 0 ;
}
.mainContentWrapper div.labelsContent
{   
    background:#cee9fa;
    padding:5px;
    width:174px;
    height:205px;
    -moz-border-bottom-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	-moz-border-bottom-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	-moz-border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
	border:1px solid #8fa3c2;
	-moz-box-shadow:0px 0px 3px 2px #ccc;
  	-webkit-box-shadow:0px 0px 3px 2px #ccc;
 	box-shadow:0px 0px 3px 2px #ccc;
 	display:none;
 	margin-top:39px;
    }

.mainContentWrapper div.labelsContentInner
{
    width:161px;
    height:171px;
    overflow:auto;
    border:1px solid #005d98; 
    background:#fff;
    padding:5px; 
    font-size:12px; 
    color:#585858;
    }    
.labelsContent h4
{
    font-size:11px;
    color:#585858;
    float:left;
    font-weight:bold;
    padding:4px 0;
    }
.topRightNav li input.btnHelp{
	background:url("../images/btn_help.png") no-repeat left top;
	float:left;
	width:52px;
	height:32px;
	border:0;
	outline:none;
}
.topRightNav li input.btnHelp:hover{
	background:url("../images/btn_help_hover.png") no-repeat left top;
	float:left;
	width:52px;
	height:32px;
}
.topRightNav li input.btnLogout{
	background:url("../images/btn_logout.png") no-repeat left top;
	float:left;
	width:52px;
	height:32px;
	border:0;
	outline:none;
}
.topRightNav li input.btnLogout:hover{
	background:url("../images/btn_logout_hover.png") no-repeat left top;
	float:left;
	width:52px;
	height:32px;
}
.mainContentWrapper .transpInfoBar{
	background:url("../images/bg_map_transp_stripe.png") repeat left top;
	border-bottom:1px solid #cfcfcd;
	float:left;
	height:38px;
	width:100%;
	position:relative;
	z-index:9999;
}
.userLabels{
	float:left;
	width:auto;
	margin-left:3px;
	position:absolute;
}
.userLabels li{
	padding:3px 0 5px 0;
	color:#000;
	float:left;
	font-size:11px;
	font-weight:bold;
	width:43px;
}
.userLabels li label{
	font-size:11px;
	font-weight:bold;
	padding-right:8px;
	margin-top:4px;
	color:#3871d6;
	float:left;
}
input.btnLegend{
	float:left;
	cursor:pointer;
	background:url(../images/symbol_label.png) no-repeat 6px 3px;
	border:0;
	color:#fff;
	outline:none;
	padding:0 7px;
	width:41px;
	height:40px;
}
input.activeBtnLegend{
	background:#cee9fa url(../images/symbol_label.png) no-repeat 6px 3px;
	-moz-border-top-left-radius:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
	-moz-border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
	border:1px solid #8fa3c2;
	border-bottom:0;
	-moz-box-shadow:0px -2px 2px 1px #ccc;
  	-webkit-box-shadow:0px -2px 2px 1px #ccc;
 	box-shadow:0px -2px 2px 1px #ccc;
 	margin-bottom:-1px;
 	*margin-bottom:-2px;
 	position:relative;
 	z-index:10;
}
input.btnRefresh{
	float:left;
	cursor:pointer;
	background:url(../images/symbol_refresh.png) no-repeat 6px 3px;
	border:0;
	color:#fff;
	outline:none;
	padding:0 7px;
	width:41px;
	height:40px;
}
input.activeBtnRefresh{
	background:#cee9fa url(../images/symbol_refresh.png) no-repeat 6px 3px;
	-moz-border-top-left-radius:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
	-moz-border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
	border:1px solid #8fa3c2;
	border-bottom:0;
	-moz-box-shadow:0px -2px 2px 1px #ccc;
  	-webkit-box-shadow:0px -2px 2px 1px #ccc;
 	box-shadow:0px -2px 2px 1px #ccc;
 	margin-bottom:-1px;
}
.breadcrumbPath{
	margin:5px 0 0 5px;
}
input.btnZoomout{
	float:left;
	cursor:pointer;
	background:url(../images/symbol_zoomOut.png) no-repeat left top;
	border:0;
	color:#fff;
	outline:none;
	width:27px;
	height:27px;
}
input.btnZoomin{
	float:left;
	cursor:pointer;
	background:url(../images/symbol_zoomIn.png) no-repeat left top;
	border:0;
	color:#fff;
	outline:none;
	width:27px;
	height:27px;
}
input.btnIdentify{
	float:left;
	cursor:pointer;
	background:url(../images/symbol_identify.png) no-repeat left top;
	border:0;
	color:#fff;
	outline:none;
	width:27px;
	height:27px;
}
input.btnBright{
	float:left;
	cursor:pointer;
	background:url(../images/symbol_bright.png) no-repeat left top;
	border:0;
	color:#fff;
	outline:none;
	width:27px;
	height:27px;
}

.userFunctions{
	position:absolute;
	right:0;
	width:auto;
	margin:5px 5px 0 0px;
}
.userFunctions li{
	float:left;
	margin-right:10px;
}

.switch{
	float:right; 
	cursor:pointer; 
	position:absolute;
	left:323px; 
	top:350px; 
	display:none;
	z-index:999;
}
.active{
	background:#eeeeee;
}
.sidebarWrapper div.tabelsWrapper{
	float:left;
	width:309px;
	padding:7px;
	overflow:auto;
	background:#cde9fa;
}
.genericRegionBlock
{
    float:left;
    padding-bottom:10px;
    }
.genericRegionBlock h4
{
    padding:6px 10px 6px 14px;
    color:#005569;
    font-size:11px;
    font-weight:bold;
    }
.genericRegionBlock label
{
    float:left;
    font-size:11px;
    color:#000;
    margin:0 22px 0 15px;
    }        
.genericRegionBlock input
{
    float:left;
    margin-top:2px;
    *margin-top:-2px;
    margin-right:8px;
    }
.regionBlock
{
    background:#fff;
    float:left;
    width:287px;
    padding:14px 10px 9px 10px;
    -moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
    border:1px solid #94b8c0;
    } 
.categoryFilters, .categorySwitch
{
    background:transparent;
    float:left;
    width:287px;
    padding:14px 10px 9px 10px;
    }  
.categorySwitch
{
    padding:0;
    margin-top:10px;
    }      
.regionBlock label, .categoryFilters label, .selectCategory label, .subCategory label
{
    color:#005569;
    font-size:11px;
    font-weight:bold;
    float:left;
    padding:3px 0;
    }           
.regionBlock .selecrWrapper, .categoryFilters .selecrWrapper
{
    float:left;
    width:277px;
    -moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
    border:2px solid #94b8c0;
    padding:3px;
    } 
.categoryFilters .selecrWrapper
{
    background:#fff;
    }    
.regionBlock select, .categoryFilters select
{
    border:none;
    width:277px;
    } 
.addButton
{
    background:url(../images/btn_add.png) no-repeat left top;
	border:0;
	color:#fff;
	cursor:pointer;
	float:right;
	font-family:arial;
	margin-top:10px;
	outline: medium none;
	width:78px;
	height:31px;
    }  
.addButton:hover
{
    background:url(../images/btn_add_hover.png) no-repeat left top;
	border:0;
	color:#fff;
	cursor:pointer;
	float:right;
	font-family:arial;
	margin-top:10px;
	outline: medium none;
	width:78px;
	height:31px;
    }
.okButton
{
    background:url(../images/btn_ok.png) no-repeat left top;
	border:0;
	color:#fff;
	cursor:pointer;
	float:right;
	font-family:arial;
	margin-top:2px;
	outline: medium none;
	width:67px;
	height:32px;
    }
.okButton:hover
{
    background:url(../images/btn_ok_hover.png) no-repeat left top;
	border:0;
	color:#fff;
	cursor:pointer;
	float:right;
	font-family:arial;
	margin-top:2px;
	outline: medium none;
	width:67px;
	height:32px;
    }  
.reset
{
    color:#004f92;
    float:left;
    font-size:11px;
    padding:10px 6px;
    border-right:1px solid #93979a;
    margin-right:6px;
    }         
.btnAddSelected, .btnAddAll, .btnRemoveSelected, .btnRemoveAll
{
    background:url(../images/move_right.jpg) no-repeat left top;
	border:0;
	cursor:pointer;
	float:left;
	outline: medium none;
	width:20px;
	height:20px;
	margin-top:5px;
    }
.btnAddAll
{
    background:url(../images/all_move_right.jpg) no-repeat left top;
    }     
.btnRemoveSelected
{
    background:url(../images/move_left.jpg) no-repeat left top;
    }  
.btnRemoveAll
{
    background:url(../images/all_move_left.jpg) no-repeat left top;
    }              
.locationGrid
{
    float:left;
    width:100%;
    margin-top:10px;
    } 
.locationGrid label
{
    color: #005569;
    float: left;
    font-size: 11px;
    font-weight: bold;
    }
.locationGrid img
{
    float:right;
    cursor:pointer;
    } 
.locationGridBlock
{
    float:left;
    width:283px;
    -moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
    border:2px solid #94b8c0;
    height:134px;
    overflow:auto;
    margin-top:5px;
    } 
.subCategory
{
    float:left;
    width:127px;
    }    
.subCategory select
{
    border:1px solid #acb5bc;   
    height:116px;
    width:125px;
    }  
.buttonSet
{
    float:left;
    width:20px;
    margin:25px 7px 0 6px;
    display:inline;
    }
.buttonSet input
{
    float:left;
    }
.selectCategory
{
    float:left;
    width:127px;
    }        
.selectCategory  select
{
    float:left;
    width:125px;
    border:1px solid #acb5bc;
    height:116px;
    }
.inputHolder
{
    float:right;
    width:auto;
    margin-top:10px;
    width:120px;
    } 
.resultBlock
{
    width:690px;
    position:absolute;
    bottom:0;
    right:10px;
    display:none;
    z-index:1001
    }   
.resultBlock .gridWrapper
{
    width:690px;
    height:222px;
    overflow:auto;
    border:2px solid #005569;
    background:#fff;
    }
.resultBlockControl
{
    float:right;
    background:#005569;
    width:173px;
    padding:6px 7px;
    color:#fff;
    font-weight:bold;
    font-size:12px;
    margin-right:-4px;
    -moz-border-top-left-radius:3px;
  	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
	-moz-border-top-right-radius:3px;
  	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
    }
.resultBlockControl span
{
    float:left;
    }  
.resultBlockControl div.buttonBlock
{
    float:right;
    }
.resultBlockControl div.buttonBlock img
{
    float:left;
    cursor:pointer;
    }   
.mainContentWrapper .olControlNoSelect  div{
	position:relative;
}
#map .olMapViewport div#map_OpenLayers_Container, #map .olMapViewport div.olControlPanZoom, #map .olMapViewport div.olControlArgParser, #map .olMapViewport div.olControlAttribution,  #map .olMapViewport div.olControlPanZoomBar{
height:100%;
}
#map .olMapViewport div.olControlMousePosition{
height:3%;
}	
/************Search Overlay Css**************/
.searchOverlay{
	width:864px;
	-moz-border-radius:3px;
  	-webkit-border-radius:3px;
	border-radius:3px;
	background:#FFF;
	border:1px solid #fff;
	display:none;
	position:relative;
}
.searchOverlay h2{
	color:#FFF;
	font-size:14px;
	text-align:center;
	width:100%;
	padding:8px 0;
	background:#005569;
	-moz-border-radius:3px 3px 0 0;
  	-webkit-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
}
.btnClose{
	position:absolute;
	right:10px;
	top:-3px;
	cursor:pointer;
}
.regionFilters, .categoryFilters{
	background:#ddeef9;
	padding:0 34px;
	width:92.1%;
	border-bottom:1px solid #b8b8b8;
}
.categoryFilters{
	border-top:1px solid #b8b8b8;
}
.regionFilters h4,.stateGrid h4, .categoryFilters h4{
	color:#005569;
	font-size:14px;
	padding:11px 0;
	width:179px;
	border-right:1px solid #b8b8b8;
	float:left;
	}
.stateGrid h4{
	width:auto;
	border-right:none;
	float:none;
	padding:0 0 7px 0;
}
.radioBlock{
	float:left;
	padding:7px 0;
}
.radioBlock label{
	color:#424242;
	font-size:14px;
	margin-left:13px;
}
.stateGrid{	
	padding:12px 34px;
}
.stateGridBlock{
	/*height:140px;*/
	border:1px solid #B8B8B8;
	width:100%;
	overflow:auto;
	max-height:200px
}
.coreFilters{
	width:416px;
	margin:0 auto;
	height:300px;
	padding-bottom:15px;
}
.addInQuery{
	float:right;
	background:url(../images/bg_add_jquery.png) no-repeat right top;
	padding-right:20px;
	margin-right:5px;
	margin-top:5px;
	color:#424242;
	font-size:12px;
}
.queryActions{
	float:left;
}
.btnEqual, .btnLessGreat, .btnGreat, .btnLess, .btnGreatEqual, .btnLessEqual
{
    background:url(../images/bg_function_btns.png) no-repeat left top;
	border:0;
	cursor:pointer;
	float:left;
	outline: medium none;
	width:36px;
	height:23px;
	margin:0 0 0 5px;
	padding:0;
    }
.btnEqual{
	margin-left:0px;
}	
.btnLessGreat{
    background:url(../images/bg_function_btns.png) no-repeat -39px top;
	}
.btnGreat{
    background:url(../images/bg_function_btns.png) no-repeat -80px top;
	}
.btnLess{
    background:url(../images/bg_function_btns.png) no-repeat -120px top;
	}
.btnGreatEqual{
    background:url(../images/bg_function_btns.png) no-repeat -160px top;
	}
.btnLessEqual{
    background:url(../images/bg_function_btns.png) no-repeat -199px top;
	}	
.finalGrid{
	width:414px;
	border:1px solid #b8b8b8;
	height:100px;
	float:left;
	margin-top:10px;
}
.filtersActions{
	border-top:1px solid #b8b8b8;
	padding:0 25.2%;
}
	